PTA_USERNAME=
PTA_PASSWORD=
PTA_HEADLESS=false
PTA_RUNTIME_DIR=
PTA_CRAWL_DIR=
PTA_BROWSER_HOME=
JAVA_BACKEND_URL=http://127.0.0.1:8081
SPIDER_PORT=8100
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=ptadatabase
DB_USERNAME=root
DB_PASSWORD=
