<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqust.ai_server.dao.TeacherDao">
    <!-- 查询结果映射 -->
    <resultMap id="teacherResultMap" type="com.cqust.ai_server.entity.teacher.Teacher">
        <id property="teacher_id" column="teacher_id"/>
        <result property="teacher_name" column="teacher_name"/>
        <result property="username" column="username"/>
        <result property="classroom" column="classroom"/>
    </resultMap>
    
    <!-- 根据用户名查询老师信息 -->
    <select id="findByUsername" parameterType="string" resultMap="teacherResultMap">
        SELECT * FROM teacher WHERE username = #{username}
    </select>
    
    <!-- 根据用户名获取老师ID -->
    <select id="findTeacherIdByUsername" parameterType="string" resultType="int">
        SELECT teacher_id FROM teacher WHERE username = #{username}
    </select>
    
    <!-- 根据老师ID查询老师信息 -->
    <select id="findByTeacherId" parameterType="int" resultMap="teacherResultMap">
        SELECT * FROM teacher WHERE teacher_id = #{teacherId}
    </select>
</mapper>